@model IEnumerable<Movie>

@foreach (var item in Model)
{
    <div class="card mb-3">
    <div class="row no-gutter">
        <div class="col-md-3">
            <img src="~/img/@item.ImageUrl" alt="@item.ShortDecription" class="card-img">

        </div>
        <div class="col-md-9">
            <div class="card-body">
                <h5 class="card-title">
                  <a asp-action="Details" asp-controller="Home" asp-route-id="@item.Id">@item.Name</a>  
                </h5>
                <p class="card-text">
                    @item.ShortDecription
                </p>
                <p class="card-text">
                        3 days ago
                </p>
            </div>
        </div>
    </div>
    </div>
    
}


